-- SQL Manager Lite for PostgreSQL 5.3.0.1
-- ---------------------------------------
-- Host      : localhost
-- Database  : alfero
-- Version   : PostgreSQL 9.1.3, compiled by Visual C++ build 1500, 64-bit



SET check_function_bodies = false;
--
-- Definition for sequence client_id_seq (OID = 34773) : 
--
SET search_path = public, pg_catalog;
CREATE SEQUENCE public.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence comment_id_seq (OID = 34775) : 
--
CREATE SEQUENCE public.comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence product_id_seq (OID = 34777) : 
--
CREATE SEQUENCE public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence product_category_id_seq (OID = 34779) : 
--
CREATE SEQUENCE public.product_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence product_settings_id_seq (OID = 34781) : 
--
CREATE SEQUENCE public.product_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence user_id_seq (OID = 34783) : 
--
CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Definition for sequence user_role_id_seq (OID = 34785) : 
--
CREATE SEQUENCE public.user_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Structure for table client (OID = 34787) : 
--
CREATE TABLE public.client (
    id integer NOT NULL,
    name text,
    type text
)
WITH (oids = false);
--
-- Structure for table role (OID = 34793) : 
--
CREATE TABLE public.role (
    id integer NOT NULL,
    role text
)
WITH (oids = false);
--
-- Structure for table users (OID = 34799) : 
--
CREATE TABLE public.users (
    id integer NOT NULL,
    login text NOT NULL,
    password text,
    email text,
    first_name text,
    last_name text,
    enabled boolean,
    phone_number text,
    city text,
    address text,
    image text
)
WITH (oids = false);
--
-- Structure for table category (OID = 34805) : 
--
CREATE TABLE public.category (
    id integer NOT NULL,
    name text NOT NULL,
    image text,
    parent_category_id integer,
    removable boolean DEFAULT true NOT NULL,
    root boolean DEFAULT false NOT NULL
)
WITH (oids = false);
--
-- Structure for table product (OID = 34813) : 
--
CREATE TABLE public.product (
    id integer NOT NULL,
    product_category_id integer NOT NULL,
    name text NOT NULL,
    description text,
    price integer DEFAULT 1 NOT NULL,
    discount_price integer,
    discount integer,
    image text,
    sale boolean DEFAULT false,
    producer_id integer NOT NULL,
    range_id integer
)
WITH (oids = false);
--
-- Structure for table comment (OID = 34821) : 
--
CREATE TABLE public.comment (
    id integer NOT NULL,
    product_id integer NOT NULL,
    content text,
    date date,
    owner_name text
)
WITH (oids = false);
--
-- Structure for table settings (OID = 34827) : 
--
CREATE TABLE public.settings (
    id integer NOT NULL,
    product_id integer NOT NULL,
    property_name text,
    property_value text
)
WITH (oids = false);
--
-- Structure for table user_role (OID = 34833) : 
--
CREATE TABLE public.user_role (
    user_id integer NOT NULL,
    role_id integer NOT NULL
)
WITH (oids = false);
--
-- Structure for table category_settings (OID = 34836) : 
--
CREATE TABLE public.category_settings (
    id integer NOT NULL,
    field_name text NOT NULL,
    field_type text NOT NULL,
    category_id integer NOT NULL,
    unit text
)
WITH (oids = false);
--
-- Definition for sequence category_settings_id_seq (OID = 34842) : 
--
CREATE SEQUENCE public.category_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Structure for table producer (OID = 34844) : 
--
CREATE TABLE public.producer (
    id integer NOT NULL,
    name text NOT NULL,
    image text,
    description text
)
WITH (oids = false);
--
-- Definition for sequence producer_id_seq (OID = 34850) : 
--
CREATE SEQUENCE public.producer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Structure for table category_producer (OID = 34852) : 
--
CREATE TABLE public.category_producer (
    category_id integer NOT NULL,
    producer_id integer NOT NULL
)
WITH (oids = false);
--
-- Structure for table producer_categories (OID = 34855) : 
--
CREATE TABLE public.producer_categories (
    id integer NOT NULL,
    producer_id integer
)
WITH (oids = false);
--
-- Structure for table range (OID = 34858) : 
--
CREATE TABLE public.range (
    id integer NOT NULL,
    name text NOT NULL,
    producer_id integer,
    image text
)
WITH (oids = false);
--
-- Definition for sequence range_id_seq (OID = 34864) : 
--
CREATE SEQUENCE public.range_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Structure for table static_page (OID = 34866) : 
--
CREATE TABLE public.static_page (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    url text NOT NULL,
    location text,
    published boolean,
    reserved boolean,
    content text
)
WITH (oids = false);
--
-- Definition for sequence static_page_id_seq (OID = 34872) : 
--
CREATE SEQUENCE public.static_page_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO MINVALUE
    CACHE 1;
--
-- Data for table public.client (OID = 34787) (LIMIT 0,4)
--
INSERT INTO client (id, name, type)
VALUES (4250, 'kghjk', 'hgjkghjk');

INSERT INTO client (id, name, type)
VALUES (1, 'init client', NULL);

INSERT INTO client (id, name, type)
VALUES (4600, 'aaaa', 'fdsafd');


--
-- Data for table public.role (OID = 34793) (LIMIT 0,2)
--
INSERT INTO role (id, role)
VALUES (1, 'ROLE_ADMIN');

INSERT INTO role (id, role)
VALUES (2, 'ROLE_USER');

--
-- Data for table public.users (OID = 34799) (LIMIT 0,7)
--
INSERT INTO users (id, login, password, email, first_name, last_name, enabled, phone_number, city, address, image)
VALUES (1, 'init user', '123456', 'init_user@discount.com', 'Init', 'User', true, NULL, NULL, NULL, 'images/default.jpg');

INSERT INTO users (id, login, password, email, first_name, last_name, enabled, phone_number, city, address, image)
VALUES (3300, 'andriy-vintoniv', '1234', 'andriyvintoniv@ukr.net', 'Andriy', 'Vintoniv', NULL, '0666647427', NULL, NULL, 'images/default.jpg');

INSERT INTO users (id, login, password, email, first_name, last_name, enabled, phone_number, city, address, image)
VALUES (3350, 'andriy', '1234', 'andriy-vintoniv@ukr.net', 'Andriy', 'Vintoniv', NULL, '22222222222', NULL, NULL, 'images/default.jpg');





--
-- Data for table public.category (OID = 34805) (LIMIT 0,44)
--
INSERT INTO category (id, name, image, parent_category_id, removable, root)
VALUES (2, 'Опалення', 'images/опалення.jpg', NULL, false, true);

INSERT INTO category (id, name, image, parent_category_id, removable, root)
VALUES (2900, 'Дизайн радіатори', 'images/IMG_1133.JPG', 2, true, false);

INSERT INTO category (id, name, image, parent_category_id, removable, root)
VALUES (2950, 'Змішувачі для ванни', 'images/змішувач для ванни.jpg', 1, true, false);










































--
-- Data for table public.product (OID = 34813) (LIMIT 0,72)
--
INSERT INTO product (id, product_category_id, name, description, price, discount_price, discount, image, sale, producer_id, range_id)
VALUES (3514, 3100, 'Hansa 45073203', 'Однорычажный смеситель для биде с донным клапаном на одно отверстие, DN 15 для биде расход: 6 л/мин, измеряется при давлении потока 3 бар • сливной гарнитур • Подключение через гибкие шланги G 3/8 • DVGW в работе выступ: 105 мм излив: литой', 0, NULL, 0, 'images/zb2.jpg', true, 1150, 186);

INSERT INTO product (id, product_category_id, name, description, price, discount_price, discount, image, sale, producer_id, range_id)
VALUES (3101, 2900, 'BOGO', 'Se', 2712, NULL, 0, 'images/JrKGAKKjcdQ.jpg', false, 1000, NULL);







































































--
-- Data for table public.comment (OID = 34821) (LIMIT 0,35)
--
INSERT INTO comment (id, product_id, content, date, owner_name)
VALUES (150, 3353, 'Скільки часу триватиме достовка?', '2013-11-06', 'Андрій Вінтонів');

INSERT INTO comment (id, product_id, content, date, owner_name)
VALUES (1250, 3452, 'fgjghf', '2013-11-11', 'jfhg');

INSERT INTO comment (id, product_id, content, date, owner_name)
VALUES (550, 3503, 'asdfasdfj jklsdajf lkdsjf jsd iojpsio

', '2013-11-07', 'Андрій Вінтонів');

































--
-- Data for table public.settings (OID = 34827) (LIMIT 0,259)
--
INSERT INTO settings (id, product_id, property_name, property_value)
VALUES (3957, 3505, 'Тип', '');

INSERT INTO settings (id, product_id, property_name, property_value)
VALUES (3958, 3505, 'Тип', '');

INSERT INTO settings (id, product_id, property_name, property_value)
VALUES (3951, 3501, 'Тип', '');

































































































































































































































































--
-- Data for table public.user_role (OID = 34833) (LIMIT 0,8)
--
INSERT INTO user_role (user_id, role_id)
VALUES (1, 1);

INSERT INTO user_role (user_id, role_id)
VALUES (1, 2);

INSERT INTO user_role (user_id, role_id)
VALUES (3300, 2);






--
-- Data for table public.category_settings (OID = 34836) (LIMIT 0,65)
--
INSERT INTO category_settings (id, field_name, field_type, category_id, unit)
VALUES (1250, 'Профіль', 'TEXT', 2900, '');

INSERT INTO category_settings (id, field_name, field_type, category_id, unit)
VALUES (1251, 'Розмір', 'TEXT', 2900, NULL);

INSERT INTO category_settings (id, field_name, field_type, category_id, unit)
VALUES (1300, 'Профіль', 'TEXT', 2900, NULL);































































--
-- Data for table public.producer (OID = 34844) (LIMIT 0,5)
--
INSERT INTO producer (id, name, image, description)
VALUES (1000, 'Test producer', 'images/default.jpg', NULL);

INSERT INTO producer (id, name, image, description)
VALUES (1100, 'Kiturami', 'images/kiturami-kombi.jpg', NULL);

INSERT INTO producer (id, name, image, description)
VALUES (1, 'Zegor', 'images/zegor.jpg', 'Марка «Zegor» от фирмы «Touzhen» пришла на украинский рынок в 2007 году и быстро завоевала своих поклонников.

Фабрика сантехнического оборудования позволяет использовать новейшие технологии и устанавливать высокие стандарты качества.

Работая в сантехнической сфере, мы всегда ставим качество продукции на первое место. Поэтому внедряем в производство новейшие технологии литья и нанесения покрытий, гарантирующих беспрецедентно высокий уровень нашего сантехнического товара.');



--
-- Data for table public.category_producer (OID = 34852) (LIMIT 0,20)
--
INSERT INTO category_producer (category_id, producer_id)
VALUES (2950, 1);

INSERT INTO category_producer (category_id, producer_id)
VALUES (2951, 1);

INSERT INTO category_producer (category_id, producer_id)
VALUES (3100, 1);


















--
-- Data for table public.range (OID = 34858) (LIMIT 0,40)
--
INSERT INTO range (id, name, producer_id, image)
VALUES (150, 'Gudini', 950, NULL);

INSERT INTO range (id, name, producer_id, image)
VALUES (151, 'TBS', 1, NULL);

INSERT INTO range (id, name, producer_id, image)
VALUES (152, 'YUB', 1, NULL);






































--
-- Data for table public.static_page (OID = 34866) (LIMIT 0,11)
--

INSERT INTO static_page (id, title, description, url, location, published, reserved, content)
VALUES (51, 'Test Static Page', 'this is the first test static page', 'test-static-page', NULL, false, false, '');

INSERT INTO static_page (id, title, description, url, location, published, reserved, content)
VALUES (400, 'tttt', '', 'ttttt', NULL, false, false, '<h1 style="font-style: italic;"><span style="font-family:georgia,serif">ewrtwert ewrt wert wer t</span></h1>

<p>&nbsp;</p>
');









--
-- Definition for index client_pkey (OID = 34876) : 
--
ALTER TABLE ONLY client
    ADD CONSTRAINT client_pkey
    PRIMARY KEY (id);
--
-- Definition for index role_pkey (OID = 34878) : 
--
ALTER TABLE ONLY role
    ADD CONSTRAINT role_pkey
    PRIMARY KEY (id);
--
-- Definition for index user_pkey (OID = 34880) : 
--
ALTER TABLE ONLY users
    ADD CONSTRAINT user_pkey
    PRIMARY KEY (id);
--
-- Definition for index productCategory_pkey (OID = 34882) : 
--
ALTER TABLE ONLY category
    ADD CONSTRAINT "productCategory_pkey"
    PRIMARY KEY (id);
--
-- Definition for index product_pkey (OID = 34884) : 
--
ALTER TABLE ONLY product
    ADD CONSTRAINT product_pkey
    PRIMARY KEY (id);
--
-- Definition for index comment_pkey (OID = 34886) : 
--
ALTER TABLE ONLY comment
    ADD CONSTRAINT comment_pkey
    PRIMARY KEY (id);
--
-- Definition for index productSettings_pkey (OID = 34888) : 
--
ALTER TABLE ONLY settings
    ADD CONSTRAINT "productSettings_pkey"
    PRIMARY KEY (id);
--
-- Definition for index user_role_pkey (OID = 34890) : 
--
ALTER TABLE ONLY user_role
    ADD CONSTRAINT user_role_pkey
    PRIMARY KEY (user_id, role_id);
--
-- Definition for index settings_product_id_fkey (OID = 34892) : 
--
ALTER TABLE ONLY settings
    ADD CONSTRAINT settings_product_id_fkey
    FOREIGN KEY (product_id) REFERENCES product(id);
--
-- Definition for index user_role_roleId_fkey (OID = 34897) : 
--
ALTER TABLE ONLY user_role
    ADD CONSTRAINT "user_role_roleId_fkey"
    FOREIGN KEY (role_id) REFERENCES role(id);
--
-- Definition for index user_role_userId_fkey (OID = 34902) : 
--
ALTER TABLE ONLY user_role
    ADD CONSTRAINT "user_role_userId_fkey"
    FOREIGN KEY (user_id) REFERENCES users(id);
--
-- Definition for index category_settings_pkey (OID = 34907) : 
--
ALTER TABLE ONLY category_settings
    ADD CONSTRAINT category_settings_pkey
    PRIMARY KEY (id);
--
-- Definition for index category_settings_fk (OID = 34909) : 
--
ALTER TABLE ONLY category_settings
    ADD CONSTRAINT category_settings_fk
    FOREIGN KEY (category_id) REFERENCES category(id);
--
-- Definition for index parent_category_fk (OID = 34914) : 
--
ALTER TABLE ONLY category
    ADD CONSTRAINT parent_category_fk
    FOREIGN KEY (parent_category_id) REFERENCES category(id);
--
-- Definition for index producer_pkey (OID = 34919) : 
--
ALTER TABLE ONLY producer
    ADD CONSTRAINT producer_pkey
    PRIMARY KEY (id);
--
-- Definition for index category_producer_category_id_fkey (OID = 34921) : 
--
ALTER TABLE ONLY category_producer
    ADD CONSTRAINT category_producer_category_id_fkey
    FOREIGN KEY (category_id) REFERENCES category(id);
--
-- Definition for index category_producer_producer_id_fkey (OID = 34926) : 
--
ALTER TABLE ONLY category_producer
    ADD CONSTRAINT category_producer_producer_id_fkey
    FOREIGN KEY (producer_id) REFERENCES producer(id);
--
-- Definition for index range_pkey (OID = 34931) : 
--
ALTER TABLE ONLY range
    ADD CONSTRAINT range_pkey
    PRIMARY KEY (id);
--
-- Definition for index product_producer_id_fkey (OID = 34933) : 
--
ALTER TABLE ONLY product
    ADD CONSTRAINT product_producer_id_fkey
    FOREIGN KEY (producer_id) REFERENCES producer(id);
--
-- Definition for index product_range_id_fkey (OID = 34938) : 
--
ALTER TABLE ONLY product
    ADD CONSTRAINT product_range_id_fkey
    FOREIGN KEY (range_id) REFERENCES range(id);
--
-- Definition for index range_producer_id_fkey (OID = 34943) : 
--
ALTER TABLE ONLY range
    ADD CONSTRAINT range_producer_id_fkey
    FOREIGN KEY (producer_id) REFERENCES producer(id);
--
-- Definition for index comment_product_id_fkey (OID = 34948) : 
--
ALTER TABLE ONLY comment
    ADD CONSTRAINT comment_product_id_fkey
    FOREIGN KEY (product_id) REFERENCES product(id);
--
-- Definition for index static_page_pkey (OID = 34953) : 
--
ALTER TABLE ONLY static_page
    ADD CONSTRAINT static_page_pkey
    PRIMARY KEY (id);
--
-- Definition for index users_login_key (OID = 34959) : 
--
ALTER TABLE ONLY users
    ADD CONSTRAINT users_login_key
    UNIQUE (login);
--
-- Data for sequence public.client_id_seq (OID = 34773)
--
SELECT pg_catalog.setval('client_id_seq', 94, true);
--
-- Data for sequence public.comment_id_seq (OID = 34775)
--
SELECT pg_catalog.setval('comment_id_seq', 27, true);
--
-- Data for sequence public.product_id_seq (OID = 34777)
--
SELECT pg_catalog.setval('product_id_seq', 73, true);
--
-- Data for sequence public.product_category_id_seq (OID = 34779)
--
SELECT pg_catalog.setval('product_category_id_seq', 74, true);
--
-- Data for sequence public.product_settings_id_seq (OID = 34781)
--
SELECT pg_catalog.setval('product_settings_id_seq', 86, true);
--
-- Data for sequence public.user_id_seq (OID = 34783)
--
SELECT pg_catalog.setval('user_id_seq', 74, true);
--
-- Data for sequence public.user_role_id_seq (OID = 34785)
--
SELECT pg_catalog.setval('user_role_id_seq', 10, true);
--
-- Data for sequence public.category_settings_id_seq (OID = 34842)
--
SELECT pg_catalog.setval('category_settings_id_seq', 40, true);
--
-- Data for sequence public.producer_id_seq (OID = 34850)
--
SELECT pg_catalog.setval('producer_id_seq', 23, true);
--
-- Data for sequence public.range_id_seq (OID = 34864)
--
SELECT pg_catalog.setval('range_id_seq', 3, true);
--
-- Data for sequence public.static_page_id_seq (OID = 34872)
--
SELECT pg_catalog.setval('static_page_id_seq', 8, true);
--
-- Comments
--
COMMENT ON SCHEMA public IS 'standard public schema';
