<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<!-- <property name="connection.driver_class">org.postgresql.Driver</property> 
			<property name="connection.url">jdbc:postgresql://localhost:5432/alfero_generated</property> 
			<property name="connection_user">postgres</property> <property name="connection_password">adminADMIN123</property> -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection_pool_size">true</property>

		<!-- SQL dialect -->

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.NoCacheProvider</property> -->

		<!-- Echo all executed SQL to stdout -->
		<!-- <property name="show_sql">1</property> -->

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->


		<mapping class="com.discount.domain.Product" />
		<mapping class="com.discount.domain.ProductSettings" />
		<mapping class="com.discount.domain.CategorySettings" />
		<mapping class="com.discount.domain.ProductCategory" />
		<mapping class="com.discount.domain.User" />
		<mapping class="com.discount.domain.UserRole" />
		<mapping class="com.discount.domain.Review" />
		<mapping class="com.discount.domain.Producer" />
		<mapping class="com.discount.domain.ProducerCategories" />
		<mapping class="com.discount.domain.Range" />
		<mapping class="com.discount.domain.StaticPage" />
		<mapping class="com.discount.domain.Notification" />
	</session-factory>
</hibernate-configuration>
