.category-remove-icon {bottom: 0;float: right;left: 216px;position: inherit;}

.select-category-form {margin: 0 0 200px;}

#producers{}
	#producers #create_producer {}
		#producers #create_producer .categories {left: 35%;position: relative;width: 25%}
			#producers #create_producer .categories .category {}
				#producers #create_producer .categories .category .category-checkbox {bottom: 3px;margin-right: 5px;position: relative;}
				
		#producers #create_producer #proerties {position: absolute;top: 60px;}
		#producers #create_producer #create-producer-btn {}

#edit-product-container {}
	#edit-product-container .categories {left: 35%;position: relative;top: 25px;width: 25%;}
		#edit-product-container .categories .category {float: left;margin-right: 10px;}
			#edit-product-container .categories .category .category-checkbox {bottom: 3px;margin-right: 5px;position: relative;}
			
	#edit-product-container #proerties {bottom: 450px;position: relative;width: 30%;}
	#edit-product-container #create-producer-btn {bottom: 400px;position: relative;}
	
	#edit-product-container #ranges-container {bottom: 322px;left: 75%;position: relative;width: 25%;}
		#edit-product-container #ranges-container .range {}
		#edit-product-container #ranges-container .new-range-btn {margin-left: 5px;position: absolute;}
.tab-content {overflow: hidden;}