.container {width: 960px;}

.setting-name {text-align: left;}

#right-area {left: 45%;position: absolute;top: 25%;%;width: 30%;}

.home-page-banner {}

.image_carousel {padding: 15px 0 15px 40px;position: relative;}

a.prev,a.next {width: 45px;height: 50px;display: block;position: absolute;top: 85px;}

a.prev {left: -22px;background-position: 0 0;}

a.prev:hover {background-position: 0 -50px;}

a.prev.disabled {background-position: 0 -100px !important;}

a.next {right: -22px;background-position: -50px 0;}

a.next:hover {background-position: -50px -50px;}

a.next.disabled {background-position: -50px -100px !important;}

a.prev.disabled,a.next.disabled {cursor: default;}

a.prev span,a.next span {display: none;}

.pagination {text-align: center;}

.pagination a {width: 15px;height: 15px;margin: 0 5px 0 0;display: inline-block;}

.pagination a.selected {background-position: -25px -300px;cursor: default;}

.pagination a span {display: none;}

.clearfix {float: none;clear: both;}

#categories-carousel {width: 1250px;}

.caroufredsel_wrapper {margin: 0px 30px 0px 30px;}

.carousel-inner>.item {margin-left: auto;margin-right: auto;width: 45em;}

.carousel-inner>.active.left {left: -80%;}

.modal-body {height: auto;max-height: 4000px;text-align: center;}

.product-small {text-align: center;max-height: 350px;height: 350px;margin-top: 20px;}
	.product-small .action-icons {height: 6%;}
	.product-small .small-img-container {}
	.product-small .properties-container {}
	.product-small .sale-value {color: #FF0000;font-size: 35px;position: relative;right: 30px;top: 11px;}
	.product-small .sale-value:hover {text-decoration: none;}
	.product-small .sale {}
	.product-small .product-url-container {height: 70%;}
.producer-small {border: 1px solid #FFFFFF;box-shadow: 0 0;height: 85px;text-align: center;}
.producer-small:hover{border: 1px solid #FFFFFF;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;border-radius: 4px 4px 4px 4px;}

.category-small {height: 200px;text-align: center;margin-bottom: 10px;}
	.category-small:hover {border: 1px solid #FFFFFF;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;border-radius: 4px 4px 4px 4px;}
	 a:hover {text-decoration: none;}
.product-img {height: 220px;}
.sale-img {float: left;height: 80px;}
.producer-img {max-height: 85px;max-width: 200px;}

.category-img {height: 75%;}

.product-info{height: auto;padding: 10px;width: 300px;}
	.product-info #settings {width: auto;}
		.product-info #settings .setting-values-area {margin: 10px;} 
		.product-info #settings .setting-values-area { bottom: 85px;left: 80px;position: absolute;width: 65%;}
		.product-info #settings .settings-row .setting-name{}
		.product-info #settings .settings-row .setting-value{}
	.product-info .buy{float: center;}
	
.span3{width: 213px;}

.content {bottom: 45px;position: relative;}
.breadcrumb{background-color: white;}

#search-results .title {font-size: 18px;}
#category-content {position: relative;}
#category-content #products{}

.footer{position: fixed;bottom: 0px;}

#producers-list {display: inline-table;padding-bottom: 20px;}

.row-fluid [class*="span"]:first-child {margin-left: 21px;}
