.left-area {width: 35%;}
	.left-area .product-img {}
	.left-area .modal-close {margin-right: 10px;margin-top: 5px;}
	.left-area #sale-container {}
		.left-area #sale-container .sale-img {bottom: 230px;height: 150px;left: 220px;position: relative;z-index: -1;}
		.left-area #sale-container .sale-value {bottom: 75px;color: #FF0000;font-size: 35px;left: 100px;position: relative;} 
.right-area {bottom: 230px;left: 35%;position: relative;width: 65%;}
	.right-area #product-price {color: #E74B30;left: 1%;position: relative;}
	.right-area #settings .setting-name {text-align: left;}
	.right-area #buy {bottom: 55px;left: 15%;position: static;}
    
#similar-products {}
	#similar-products #similar-product-title{font: 24px black;}
#product{}
#reviews {}
	#reviews .title{font-size: 24px;padding-bottom: 20px;}
	#reviews .review {display: table;margin-bottom: 10px;}
		#reviews #add-review {margin-bottom: 10px;}
		#reviews .review .title {padding-bottom: 0;}
		#reviews .review .title .owner-name {color: #FFA500;font-size: 20px;}
		#reviews .review .title .review-date {font-size: 14px;}
		#reviews .review .content {bottom: 0;position: relative;overflow: hidden}
	#reviews #new-review {display: table-caption;overflow: hidden;}
		#reviews #new-review #ownerName {}
		#reviews #new-review #new-review-btn {}