.left-area {}
	.left-area .product-img {}
	.left-area .modal-close {margin-right: 10px;margin-top: 5px;}

.right-area {bottom: 230px;left: 35%;position: relative;width: 65%;}
	.right-area #product-price {color: #E74B30;left: 1%;position: relative;}
	.right-area #settings .setting-name {text-align: left;}
	.right-area #buy {bottom: 55px;left: 15%;position: relative;}
#comments {position: relative;bottom: 200px;}
    
#similar-products {position: relative;bottom: 200px;}
	#similar-products #similar-product-title{font: 24px black;}
#product{}